h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
h1 small,
h2 small {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  display: block;
}
body {
  font-family: "Times-Roman", "serif";
}
p {
  line-height: 30px;
  letter-spacing: 0.2px;
  margin: 0;
}
.small-about {
  padding-top: 100px;
}
.our-story {
  padding-top: 130px;
  font-weight: 900;
}
.philosophy-image {
  height: 500px;
  width: 100%;
}
