.nav-opacity {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
}
.navbar-brand {
  font-weight: bold;
  font-style: italic;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
h1 small,
h2 small {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
  display: block;
}
body {
  font-family: "Times-Roman", "serif";
}
p {
  line-height: 30px;
  letter-spacing: 0.2px;
  margin: 0;
}
span {
  color: #bc8d4b;
}
.nav-opacity a:hover {
  color: #bc8d4b;
}
.image-section img {
  margin: 12px;
  width: 100%;
}
.owner-description {
  padding-top: 200px;
}
.owner-section {
  background-color: #f4f4f4;
  
}
